.header-column-left {
    display: flex;
    align-self: flex-start;
}

.sidebar-menu-icon-wrap {
    display: flex;
    height: 50px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;

    .sidebar-menu-icon {
        display: flex;
        height: 30px;
        width: 35px;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;

        svg {
            width: 24px;
            height: 23px;

            path {
                transition: var(--transition-150);
            }
        }

        &:hover {
            svg {
                path {
                    fill: var(--color-primary);
                }
            }
        }
    }
}

.header-logo {
    display: flex;
    height: 50px;
    width: auto;
    padding: 0 15px 0 0;
    align-items: center;
    overflow: hidden;
    margin-top: 1px;

    img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    h3 {
        color: var(--color-primary);
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    svg {
        direction: ltr #{"/*rtl:ignore*/"};
        height: 50px;
        width: auto;

        #logo_f_bg,
        #logo_f_text,
        #logo_f_text_inner {
            fill: var(--color-primary);
        }
    }
}

@media screen and (max-width: 1100px) {
    .header-logo {
        width: auto;
    }
}

@media screen and (max-width: 991px) {
    .header-logo {
        height: 45px;
        width: auto;
    }
}

@media screen and (min-width: 992px) {
    .sidebar-menu-icon-wrap {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .header-logo {
        margin-top: unset;
    }

    .header-logo {
        h1 {
            font-size: 24px;
        }
    }
}